    
    body {
        display: grid;
        place-items: center;
        font-family: "Plus Jakarta Sans", sans-serif;
        background-color: #fffffc;
      }

    .card {
      position: relative;
      width: 22%;
      min-width: 24rem;
      max-width: 30rem;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15);
      background-color: #fffffc;
      border-radius: 1rem;
      display: flex;
      justify-content: space-between;
      padding: 12px 12px 12px 12px;
      gap: 1rem;
      margin: auto;
      border: solid .5px rgb(214, 214, 214);
    }

    .card::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #ffffff;
      background-image: url(images/Paper-Texture.png);
      background-blend-mode: multiply;
      opacity: 15%;
    }

    .photo, .photo img {
      position: relative;
      z-index: 1;
      border-radius: 8px;
      width: 8rem;
      height: 8rem;
    }

    .photo::before {
      content: '';
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #ffffff;
      background-image: url(images/Paper-Texture.png),
      url(images/AfolayanMarvin-Headshot.jpg);
      background-blend-mode: multiply, normal;
      background-size: cover, cover;
      opacity: 100%;
      border-radius: 8px;
    }

    h1 {
      color: #005f33;
      margin: 0;
    }

    h3 {
      margin: 4px 0;
      color: rgb(43, 43, 43);
      font-style: italic;
      letter-spacing: .5px;
    }

    p {
      letter-spacing: .3px;
      font-size: 0.85rem;
      font-weight: 500;
      margin-top: 4px;
      color: rgb(92, 92, 92);
    }